<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <ConnectionStrings>
    <Add Name="FpElectionDatabase"
         ConnectionString="Server=(localdb)\MSSQLLocalDB;Database=fp-electioncalculator-db;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </ConnectionStrings>
</configuration>