language: csharp
solution: FpElectionCalculator.sln
mono: none
dotnet: 2.1.4
script:
  - dotnet restore
  - dotnet build
  - dotnet test FpElectionCalculator.Domain.Tests/FpElectionCalculator.Domain.Tests.csproj --filter Category!=notcircleci 