version: 2
jobs:
  build:
    working_directory: ~/tmp
    docker:
      - image: microsoft/dotnet:2.0.5-sdk-2.1.4-stretch
    steps:
      - checkout
      - run: dotnet restore
      - run: dotnet build
      - run: dotnet test dotnet test FpElectionCalculator.Domain.Tests/FpElectionCalculator.Domain.Tests.csproj